
@use "./variables" as *;

html, body {
  font-family: $primary-font;
  overflow-x: hidden;
  width: 100%;
  min-height: 100vh;
  position: relative;
  margin: 0;
  font-family: $primary-font;
  background-color: $white;
  color: #222;
}
